body {
    background-color: rgb(0, 11, 11);
    max-width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

form {
    display: flex;
    justify-content: center;
}

input {
    width: 49%;
    padding: 15px 0px;
    margin-right: 1%;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(225, 212, 212, 0.721);
    border: none;
    border-radius: 30px;

}
input:nth-child(2){
    margin-right: 0px;
}



.btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    width: 19%;
    padding: 10px 0px;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #813d3d;
    border-radius: 30px;
    color: #fff6f6ac;
    border: none;
    font-family: monospace;
    margin-right: 1%;

}
button:nth-child(5){
    margin-right: 0;
}

button:hover {
    background-color: #813d3dac;
}

h1 {
    height: 5vh;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    color: crimson;
    font-style: italic;
    padding: 20px 0px;

}

#h1 {
    font-weight: bolder;
    font-size: 50px;
}

@media screen and (max-width:600px) {
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {

        font-weight: bold;
        width: 49%;
        margin-bottom: 10px;
    }
}